version: 0.2

phases: 
  pre_build: 
    commands: 
      - mvn clean 
  build:
    commands: 
      - mvn package spring-boot:repackage 
  post_build: 
    commands: 
      - echo "Build completed on $(date)"

artifacts: 
  files: 
    - 'target/*.jar'